<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <title>Boyato Code </title>
  <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>

<body class="show-chatbot">
  <button class="chatbot-toggler">
    <span class="material-symbols-outlined">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
  </button>

  <div class="chatbot">
    <header>
      <h2>Boyato Chatbot</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>

    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hello there 👋<br />How can I help you today?</p>
      </li>
    </ul>

    <div class="chat-input">
      <textarea id="code-input" placeholder="Enter your code here..." required></textarea>
      <span id="run-code" class="material-symbols-outlined">send</span>
    </div>

    <div id="output-container"></div>
  </div>
</body>
</html>
